*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif; 
    font-weight: bold;
}

.cream-bg {
color: #EF6C00;
    background-color: #FFCA28;
}
.light-green-bg{
  color: #055640;
  background-color: #44dfb4;
}
.purple-bg {
  color: #27088d;
  background-color: #9e86ed;
}
.sky-blue-bg{
  color: #02253b;
  background-color: #5abfff;
}
.pink-bg{
  color: #780051;
  background-color: #f37acc;
} 

/* ------------------------------------------- Part -1 (main containers) ----------------------------------------------- */

.main-container{
    background-color: #fcd6e2;
    padding: 1rem;
    margin: 1rem;
}

.sub-container{
    padding: 1rem 0;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

/* ---------------------- Add Button animation ---------------- */
#new-todo {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: #F06292;
    transition: all 0.2s;
    border-radius: 3px;
    cursor: pointer;
}
  
#new-todo:hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
}
  
  @keyframes dance6123 {
    to {
      background-position: var(--width);
    }
}

/* ---------------------- Input tag ---------------- */
.sub-container textarea{
    height: 10vh;
    border: none;
    font-size: large;
}

/* ---------------------- save and exit button ---------------- */
.sub-container button  {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .sub-container button {
    background: #F06292;
    background: linear-gradient(0deg, #F06292 0%, #F06292 100%);
    border: none;
  }
  
  .sub-container button :before {
    height: 0%;
    width: 2px;
  }
  
  .sub-container button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  /* ------------- slide down animation -------------*/
  #test {
    width: 200px;
    padding: 2em 0;
    background: #c14545;
    visibility: hidden;
  }
  
  .sub-container{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  
  
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
  
    animation-timing-function: ease;  
    -webkit-animation-timing-function: ease;  
  
    visibility: visible !important;           
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    50%{
      transform: translateY(8%);
    }
    65%{
      transform: translateY(-4%);
    }
    80%{
      transform: translateY(4%);
    }
    95%{
      transform: translateY(-2%);
    }     
    100% {
      transform: translateY(0%);
    }   
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
    }
    50%{
      -webkit-transform: translateY(8%);
    }
    65%{
      -webkit-transform: translateY(-4%);
    }
    80%{
      -webkit-transform: translateY(4%);
    }
    95%{
      -webkit-transform: translateY(-2%);
    }     
    100% {
      -webkit-transform: translateY(0%);
    } 
  }
/* ----------------------------------------- Part -2 (display containers)----------------------------------------------- */
.todo-list-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.todo-item {
    /* color: #0f6b13; */
    /* background: #E6EE9C; */
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: x-large;
    align-items: center;
    font-family: sans-serif;
}

/* ------------- done button -------------*/
.dete-button {
  border: none;
  width: 80px;
  border-radius: 50%;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #000000;
  position: relative;
 }
 
 .dete-button p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
 }
 
 .dete-button::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: #8792eb;
  transition: 0.2s ease;
 }
 
 .dete-button::before {
  position: absolute;
  content: "";
 /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
 /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: #8792eb;
 }
 
 .dete-button:hover::after {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 
 .dete-button:hover::before {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 

.cream-bg .dete-button::before, .cream-bg .dete-button::after{
  background: #ee6b0d;
}
.light-green-bg .dete-button::before, .light-green-bg .dete-button::after{
  background-color: #26cfa2;
}
.purple-bg .dete-button::before, .purple-bg .dete-button::after{
  background-color: #4a2fa5;
}
.sky-blue-bg .dete-button::before, .sky-blue-bg .dete-button::after{
  background-color:  #1b6a9c;
}
.pink-bg .dete-button::before, .pink-bg .dete-button::after{
  background-color: #da0f99;
} 

@media all  and (max-width: 658px) {
  .todo-list-display {
    grid-template-columns: repeat(1, 1fr);
  }
}
