/* --------------------------------------banner--------------------------------------------------- */

.banner-section {
    height: 20em;
    width: 100%;
    background: url(/RCart/images/banner/fruits_veg_banner.jpg) #0000001c;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.top-left{
    padding: 1rem 1rem;
}
.content-text{
    display: grid;
    text-align: left;
    margin-top: 10px;
    width: 400px;
}
.shop-now {
    width: 150px;
    margin-top: 10px;
    background: #33691E;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
.header-text{
    display: flex;
    width: 300px;
    font-weight: bold;
    font-size: xx-large;
}
.bottom-right{
    text-align: right;
    grid-area: last-line;
    margin: 0rem 1rem 1rem 0rem;
}

.marketing{
    font-size: small;
    color: #ffff0f;
    line-height: 1;
}

.marketing a{
    line-height: 1;
    color: #ffff0f;
}

/* --------------------------------------product--------------------------------------------------- */

.products{
    background: #FFECB3;
    padding:1rem;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 2rem auto;
	max-width: 1200px;
    column-gap: 2rem;
    grid-column-gap: 1rem;

}

.sub-container{
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    border-radius: 5px;
}

.image-class{
    display: flex;
    width: 100%;
}

.image-class img{
    width: 100%;
}

.products .heading {
    font-size: xx-large;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 1rem;
    font-weight: 600;
    color: #FF6F00;
}

.desc *{
    font-family: 'Mulish', sans-serif;

}
.desc {
    padding: 1rem;
}
.small-heading {
    font-size: medium;
}

.discount {
    font-size: xx-large;
    font-weight: 600;
}

.someshit {
    font-size: small;
}


  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .content-text {
        width: 100%;
    }
    .address-box.clearfix {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 9fr;
    }
    .address-box.clearfix .add-content {
        padding: 0;
    }
    .main-container{
    	grid-template-columns: repeat(2, 1fr);
	    grid-row-gap: 1rem;
    }
    .banner-section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .top-left  {
        padding: 0;
    }
    .bottom-right {
        grid-area: unset; 
        margin: 0;
        margin-top: auto;
        margin-left: auto;
    }
    .row.address-main {
       grid-template-columns: 1fr;
    }
    .dropdown:hover .dropdown-content {
        top: 100px;
    }
}
