*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    background-color: white;
}
.sub-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    grid-gap: 1rem;
    font-size: x-large ;
}
.image-class{
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 2rem);  
    aspect-ratio: 1/1;   /*square image*/
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
    align-self: center;
}
.title{
    font-size: xx-large ;
    text-align: center;
    background-color: #a35bff;
    color: white;
    padding: 2rem 2rem;
}

/* input tag, button, anchor tag */
.fruit-item{
    background-color: #f4bbce;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 7px 0px #00000066;
}
.cart-action{
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 1rem 0 1rem;
}
.anchor{
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    color: #a657d6;
    font-family: monospace;
    margin-top: 1rem;
}
.input-tag{
    width: 100%;
    border: 0;
    border-radius: 5px;
}
.kart-btn {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #a35bff;
    color: white;
    font-family: sans-serif;
}
@media only screen and (max-width: 600px) {
    .sub-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}